---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
	title="404 - Page not found"
	description="The page you're looking for could not be found."
>
	<section>
		<h1 class="section-heading">404 - Page not found</h1>
		<p>
			It seems you're going off-track. I like it. However there's nothing
			to see here.
		</p>
		<div class="link-container">
			<a href="/" class="main-button">Back to homepage</a>
			<a href="/blog" class="main-button">Back to blog</a>
		</div>
	</section>
</BaseLayout>

<style lang="scss">
	section {
		p {
			margin-bottom: 32px;
		}

		.link-container {
			display: flex;
			gap: 20px;
		}
	}
</style>
