---
import Head from './Head.astro';

const { title, description, ogImgSrc, ogImgAlt } = Astro.props;
---

<html lang="en">
	<Head {title} {description} {ogImgSrc} {ogImgAlt} />

	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
