---
import { Image } from 'astro:assets';
import logo from '../assets/images/portfolio-logo-transparent.png';
---

<header id="header">
	<div class="logo-container">
		<Image src={logo} alt="Logo" />
	</div>

	<nav>
		<a href="/" title="To Homepage">Home</a>
		<a href="/#about" title="To the about section">About</a>
		<a href="/#projects" title="To the projects section">Projects</a>
		<a href="/blog" title="To my blog">Blog</a>
		<a href="/#contact" title="To the contact section">Contact</a>
	</nav>
</header>

<style lang="scss">
	#header {
		display: flex;
		height: 80px;
	}
</style>
