---
import BaseLayout from '@layouts/BaseLayout.astro';
import External from '~icons/lucide/external-link';
---

<BaseLayout
	title="Now - What keeps me busy at the moment?"
	description="This page describes what's keeping me busy these days in all areas of life"
>
	<article>
		<h1 class="section-heading">Now</h1>

		<p class="date">Last updated: 04 July 2025</p>

		<p class="description">
			This page describes what's keeping me busy these days in all areas
			of life. <a
				href="https://nownownow.com/about0"
				target="_blank"
				title="Find out what a now page is (external link)"
			>
				What now? <External />
			</a>
		</p>

		<h2 class="section-heading">Work</h2>
		<p>
			I'm in the middle of transitioning between jobs. After learning so
			much in the last couple of years I'm really excited for the next
			chapter. Personal and professional growth have been always been my
			big priorities and I feel like the next step in my career is going
			to take me to new heights. New people, a new environment and new
			challenges. The biggest growth phases I've went through were always
			accompanied by uncertainty and doing new things outside of my
			comfort zone. I have a couple of offers lined up and will update you
			once I accept one.
		</p>

		<h2 class="section-heading">Hobby projects</h2>
		<p>
			There are so many ideas but only so little time. However there are 2
			projects that I'm looking forward to starting, I just can't decide
			which one to pursue first.
			<br /><br />
			The first is an AI Chat desktop client, something that I can plug my
			OpenRouter API key into and use as a light client on my machine. It annoys
			me that a lot of the things I do happen in the browser. I hate switching
			tabs and doing things that take an unnecessary amount of keystrokes or
			mouseclicks. I'd rather have a dedicated application running that's lightweight
			and easy to use. Last time I looked I couldn't find what I was looking
			for exactly or the options available were just too bloated for my liking.
			If I build this I'll most likely use Tauri (JavaScript + Rust).
			<br /><br />
			The second interest that I have is Game Development. This has been on
			my mind for such a long time and I want to learn more about it. Aside
			from the fact that I find it intriguing to build a whole game, a universe
			in which everything is handcrafted by me, I believe that building a game
			from scratch could be an amazing learning opportunity. Godot or Unity
			will most likely be the game engines that I'll take a closer look at
			for this.
		</p>

		<h2 class="section-heading">Fitness</h2>
		<p>
			The last couple of months have been so busy. To be honest I was only
			able to sneak in a boxing class or run every 2 weeks but I plan to
			commit to doing more MMA and Lifting again once everything settles
			with the new job. I miss both bad and I don't like the way I look
			right now, especially because I know how I've looked just a couple
			of months ago.
		</p>
	</article>
</BaseLayout>

<style lang="scss">
	article {
		.date {
			color: var(--gray);
		}

		.description {
			a {
				display: inline-flex;
				gap: 4px;
				align-items: center;
				color: var(--primary);
				border-bottom: 1px solid var(--primary);
			}
		}
	}
</style>
