---
import { Image } from 'astro:assets';
import portrait from '@assets/images/portrait.webp';
import pfp from '@assets/images/pfp.webp';
import Accordion from '@components/Accordion.astro';
---

<script></script>

<section class="about">
	<h2 class="section-heading">About me</h2>

	<div class="content">
		<div class="accordion-container">
			<Accordion>
				<p slot="title">
					<span class="accent">1.</span>
					<span>Who am I? (1996)</span>
				</p>

				<p class="text" slot="content">
					Hey, I'm Mikayil. You might also know me under my alias <a
						target="_blank"
						rel="noreferrer noopener"
						href="https://x.com/raiku_dev">raiku</a
					>. Born and raised in Germany, I've spent most of my life in
					and around Frankfurt am Main. It's also the city where my
					mother (Polish) and my father (Armenian/Turkish) met.
				</p>
			</Accordion>

			<Accordion>
				<p slot="title">
					<span class="accent">2.</span>
					<span>The initial spark (2021)</span>
				</p>

				<p class="text" slot="content">
					My first smartphone was an iPhone, and I stuck with it for
					many years. At one point, I tried Android and hated the
					experience for several reasons—mainly performance and
					battery life. A couple of years later, I got an Apple Watch
					and a MacBook and was amazed at how well everything
					integrated. The ecosystem just worked. That got me curious
					about iOS/macOS development, and I started dabbling in Swift
					to learn the basics of programming.
				</p>
			</Accordion>

			<Accordion>
				<p slot="title">
					<span class="accent">3.</span>
					<span>My mom was right (2021)</span>
				</p>

				<p class="text" slot="content">
					I was just about to finish my apprenticeship in the
					automotive industry at BMW (my favorite cars!) when I
					discovered my love for programming, solving complex
					problems, and building things.
					<br /><br />
					Once I had played around with Swift, basic playgrounds, and a
					few online courses, I wanted more - I wanted to understand how
					I could pivot and switch careers. Looking back, it shouldn’t
					have been a big surprise. I was always the go-to person for anything
					computer or tech related. I built my first PC at age 12 and spent
					countless hours in front of a screen every day. Besides gaming,
					I was also drawn to creative fields like music production, graphic
					design in Photoshop, video editing, game-development and making
					YouTube videos.
					<br /><br />
					My mom always said I should study Computer Science, and she was
					right. But after school, I was just fed up. I wanted to move
					out, earn my own money, and be independent. I managed that part
					- but career-wise, I made the wrong choice. The math in Computer
					Science also scared me at the time. I love understanding how
					things work, but at some point in school, I couldn't naturally
					grasp some concepts. The teachers didn’t care to explain the
					why behind things - we were just told to memorize formulae for
					exams. Math was fun until it wasn’t. I was afraid this would
					be my life for another 3–4 years if I pursued CS, so I chose
					the next thing I was passionate about: cars.
				</p>
			</Accordion>

			<Accordion>
				<p slot="title">
					<span class="accent">4.</span>
					<span>Time to get serious (2022)</span>
				</p>

				<p class="text" slot="content">
					I knew this wasn’t going to be easy. Switching careers
					without getting a new degree is pretty uncommon in Germany.
					People here are very focused on formal education - and I get
					it. A degree is at least a signal of knowledge in a specific
					field. So I knew that if I wanted to prove my skills, I’d
					need a portfolio or at the very least, one project that
					showed I could do the job.
					<br /><br />
					After finishing my apprenticeship at BMW, I became a fleet manager
					for enterprise clients in a mid-sized company. That only reinforced
					my belief that I had chosen the wrong path. So I started looking
					into how people transitioned into developer roles, and that’s
					when I found web development. A lot of people recommended it
					for beginners - and now I see why. It’s so much more approachable
					compared to many other tech fields.
					<br /><br />
					At the same time, I was pleasantly surprised by the web app we
					used at work. It was written and maintained by a single programmer
					and one intern, and it was tailored to our exact needs. Compared
					to the bloated enterprise systems that I used to use that are
					slow and clunky, this was like a breath of fresh air. I didn’t
					even know software for businesses could be fast and enjoyable
					to use. I had many conversations with the programmer behind it.
					He encouraged me and told me I was on the right path.
					<br /><br />
					Around that time, I was already taking full stack development
					courses online, putting in hours after work, and gradually building
					up my knowledge and skills.
				</p>
			</Accordion>

			<Accordion>
				<p slot="title">
					<span class="accent">5.</span>
					<span>Sprint towards the finish line (2022)</span>
				</p>

				<p class="text" slot="content">
					After going through FreeCodeCamp’s and The Odin Project’s
					curricula, I wanted something more structured - something
					focused on becoming job-ready as a full stack developer. So
					I enrolled in Codecademy’s Full Stack Developer career path.
					<br /><br />
					That’s when I really "locked in." I was learning and writing
					code every evening for hours, building projects and filling my
					portfolio with work that showed I understood the fundamentals.
					When I finally built my own real portfolio site, I had enough
					confidence to start applying for jobs - and sure enough, I landed
					one from the first batch of applications I sent out.
					<br /><br />
					From there, things took off. Doing this full-time while continuing
					to learn at home meant I was practicing 10–12 hours a day, 7
					days a week. And it showed. I got better, faster, and more motivated
					with every problem I solved. I fell in love with programming
					and problem-solving. For the first time, it felt like home. This
					was more than just a job—it was my calling. The thing I want
					to dedicate my life to.
				</p>
			</Accordion>

			<Accordion>
				<p slot="title">
					<span class="accent">6.</span>
					<span>My current goals (2025)</span>
				</p>

				<p class="text" slot="content">
					Right now, I want to go deeper. I'm planning to earn a
					degree in Computer Science while continuing to work
					full-time - not because anyone told me to, but because I
					want to. Because I’m curious. Because I love this. I’ve
					built countless projects at work and on my own. I’ve
					deployed full stack apps from scratch and gotten comfortable
					building new things and maintaining legacy code. I’ve taught
					myself the theory I needed and developed strong practical
					skills along the way. Now I want to dig deeper into the
					fundamentals and commit myself to mastering this craft.
					Computers have given me so much - they’ve empowered me to do
					amazing things. It’s time I give something back to this
					incredible ecosystem.
				</p>
			</Accordion>
		</div>

		<div class="img-container">
			<Image src={portrait} alt="Mikayil Gacek" />
			<Image src={pfp} alt="Mikayil Gacek's alias raiku" class="pfp" />
		</div>
	</div>
</section>

<style lang="scss">
	.about {
		.content {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			gap: 80px;

			.img-container {
				flex: 1 1 300px;
				max-width: 500px;
				overflow: hidden;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;

				@include hover {
					.pfp {
						opacity: 1;
						filter: blur(0px);
					}
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}

				.pfp {
					transition: 0.5s;
					position: absolute;
					left: 0;
					top: 0;
					filter: blur(20px);
					opacity: 0;
				}
			}

			.accordion-container {
				flex: 1 1 450px;

				p {
					display: flex;
					gap: 8px;

					.accent {
						color: var(--primary);
					}

					.text {
						@include copy-s;
					}
				}
			}
		}
	}
</style>
