---
import Email from '~icons/lucide/mail';
import GitHub from '~icons/bytesize/github';
import LinkedIn from '~icons/devicon-plain/linkedin';
import X from '~icons/mingcute/social-x-line';
import Rss from '~icons/material-symbols/rss-feed';
import Top from '~icons/lucide/arrow-up-from-line';
---

<footer>
	<div class="contact">
		<h2>
			<span> Want to work with me? </span>

			<button
				class="main-button"
				title="Scroll back to top"
				onclick="window.scrollTo(0, 0);"
			>
				<Top />
				Back to top
			</button>
		</h2>

		<div class="bottom">
			<p>
				Shoot me a message anytime!<br />
				I'm always open to discuss new opportunities, a full-time position
				or a potential project.
			</p>

			<div class="links">
				<h3>Social</h3>

				<div class="links-container">
					<a
						href="mailto:mikayil_gacek@icloud.com"
						title="Send me an E-mail"
						target="_blank"
					>
						<Email />
					</a>

					<a
						href="https://github.com/raiku-dev"
						title="Visit my GitHub profile"
						target="_blank"
					>
						<GitHub />
					</a>

					<a
						href="https://www.linkedin.com/in/mikayilgx/"
						title="Visit my LinkedIn profile"
						target="_blank"
					>
						<LinkedIn />
					</a>

					<a
						href="https://x.com/raiku_dev"
						title="Visit my X profile"
						target="_blank"
					>
						<X />
					</a>

					<a href="/rss.xml" title="Subscribe to my RSS feed">
						<Rss />
					</a>
				</div>
			</div>
		</div>
	</div>

	<p class="copyright">
		&copy; {new Date().getFullYear()} Mikayil Gacek<span class="cursor"
		></span>
	</p>
</footer>

<style lang="scss">
	footer {
		width: 100%;
		max-width: var(--max-width);
		margin: 0 auto;
		padding: var(--section-padding);
		padding-top: 0;
		margin-top: 80px;

		.contact {
			padding: var(--section-padding);
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
			border-top: 1px solid var(--primary);
			margin-bottom: 60px;

			@include view-mobile {
				margin-bottom: 40px;
			}

			h2 {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				gap: 40px;
				margin-bottom: 32px;

				span {
					max-width: 700px;
				}

				button {
					margin-top: 0.6em;
					white-space: nowrap;
					font-size: 1rem;
					display: flex;
					align-items: center;
					width: fit-content;
				}

				@include view-tablet-s {
					flex-wrap: wrap-reverse;

					button {
						margin: 0;
						margin-left: auto;
					}
				}
			}

			.bottom {
				display: flex;
				align-items: flex-start;
				gap: 40px;
				justify-content: space-between;

				@include view-mobile {
					flex-wrap: wrap;
				}

				p {
					max-width: 600px;
				}

				.links {
					padding: 12px 20px;
					border: 1px solid var(--primary);
					border-radius: 8px;
					box-shadow: 0 4px 10px #00000055;

					h3 {
						@include h4;
						text-align: end;
						margin-bottom: 12px;

						@include view-mobile {
							text-align: start;
						}
					}

					.links-container {
						display: flex;
						gap: 20px;

						a {
							font-size: 20px;
							transition: 0.2s;
							line-height: 1;

							@include hover {
								color: var(--primary);
							}
						}
					}
				}
			}
		}
	}

	.copyright {
		.cursor {
			margin-left: 0.2em;
			width: 0.5em;
			height: 1em;
		}
	}
</style>
